error_handler_workflow.json
{
  "name": "Error Handler Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "error-handler",
        "options": {}
      },
      "id": "1",
      "name": "Error Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error_type_check",
              "leftValue": "={{$json['error']['type']}}",
              "rightValue": "workflow",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2",
      "name": "Check Error Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "url": "={{$env.SLACK_WEBHOOK_URL}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "🚨 Workflow Error Alert\n\nWorkflow: {{$json['workflow']['name']}}\nError: {{$json['error']['message']}}\nTime: {{new Date().toISOString()}}\nExecution ID: {{$json['execution']['id']}}"
            }
          ]
        },
        "options": {}
      },
      "id": "3",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [600, 200]
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": "{{ $env.NOTION_ERROR_LOG_DB_ID }}",
        "properties": {
          "Workflow Name": {
            "title": [
              {
                "text": {
                  "content": "={{$json['workflow']['name']}}"
                }
              }
            ]
          },
          "Error Message": {
            "rich_text": [
              {
                "text": {
                  "content": "={{$json['error']['message']}}"
                }
              }
            ]
          },
          "Execution ID": {
            "rich_text": [
              {
                "text": {
                  "content": "={{$json['execution']['id']}}"
                }
              }
            ]
          },
          "Timestamp": {
            "date": {
              "start": "={{new Date().toISOString()}}"
            }
          },
          "Status": {
            "select": {
              "name": "New"
            }
          }
        }
      },
      "id": "4",
      "name": "Log Error to Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [600, 400]
    }
  ],
  "connections": {
    "Error Webhook": {
      "main": [
        [
          {
            "node": "Check Error Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Error Type": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Error to Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "sequential",
    "saveManualExecutions": true
  },
  "tags": [
    "error-handling",
    "monitoring",
    "alerts"
  ]
}
